@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #229ad7;
  color: #ffffff;
  outline: none;
}

body .calculator{
  background: #229ad7;
  width: 275px;
  margin: 200px auto;
}

.calculator .display {
  background: #9ab9bccc;
  font-size: 24px;
  padding: 16px;
  text-align: right;
}